@font-face {
  font-family: 'iconfont'; /* Project id 3495719 */
  src: url('iconfont.woff2?t=1657781429365') format('woff2'),
    url('iconfont.woff?t=1657781429365') format('woff'),
    url('iconfont.ttf?t=1657781429365') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangjiantou:before {
  content: '\e628';
}

.icon-shanglajiantou:before {
  content: '\e627';
}

.icon-dunpaibaoxianrenzheng_o:before {
  content: '\eba0';
}

.icon-24gl-box2:before {
  content: '\e877';
}

.icon-rili:before {
  content: '\e60a';
}

.icon-icon_home_service:before {
  content: '\e607';
}

.icon-huidingbu:before {
  content: '\e66c';
}

.icon-liwu:before {
  content: '\e600';
}

.icon-31dingwei:before {
  content: '\e602';
}

.icon-15:before {
  content: '\e61e';
}

.icon-shenghuohuafeichongzhi:before {
  content: '\e647';
}

.icon-qian:before {
  content: '\e640';
}

.icon-jinrujiantouxiao:before {
  content: '\e8b9';
}

.icon-xiaoxi1:before {
  content: '\e641';
}

.icon-shizhong:before {
  content: '\e668';
}

.icon-yuanquan:before {
  content: '\e63e';
}

.icon-shoujiqia:before {
  content: '\e611';
}

.icon-qitianwuliyoutuihuan:before {
  content: '\e63d';
}

.icon-qiye:before {
  content: '\e610';
}

.icon-jiantouyou:before {
  content: '\e62d';
}

.icon-zuojiantou:before {
  content: '\e618';
}

.icon-sousuo:before {
  content: '\e60f';
}

.icon-weixiubanshou:before {
  content: '\e715';
}

.icon-kefu1:before {
  content: '\e635';
}

.icon-xiazai:before {
  content: '\e601';
}

.icon-shouji:before {
  content: '\e626';
}

.icon-gouwuche:before {
  content: '\e653';
}

.icon-xiaoxi:before {
  content: '\e62f';
}

.icon-fankui:before {
  content: '\e60c';
}

.icon-jubao:before {
  content: '\e652';
}

.icon-kefu:before {
  content: '\e645';
}
