body {
  margin: 0px;
  padding: 0px;
  background: white;
}

.top {
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  background: orange;
  font-size: 1.5rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.main {
  display: flex;
}

.left {
  width: 350px;
  height: 550px;
  margin-top: 3rem;
  margin-left: 2rem;
  border: 0px;
  border-radius: 0.5rem;
  background: orange;
}

.left > div {
  font-size: 1.3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}
.left > div:hover {
  cursor: pointer;
  color: yellow;
  background: rgb(214, 158, 68);
}

.left > div:nth-child(1) {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border: none;
}

.left > div:nth-child(2) {
  border-top: 1px solid white;
}

.left > div:nth-child(10) {
  background: rgb(214, 158, 68);
}

.left > div:last-child {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: none;
}

.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
  padding-bottom: 2rem;
  background: rgb(239, 239, 239);
  border-radius: 1rem;
}

.right > div {
  display: flex;
  margin: 2.2rem 1rem 1rem 1rem;
}

.goods {
  background: white;
  border-radius: 0.5rem;
}

.goods:hover {
  box-shadow: 0.5rem 0.5rem 0.6rem rgb(85, 79, 79);
}

.goods > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

.goods > div:hover {
  cursor: pointer;
  color: orange;
}

.goods img {
  width: 200px;
  height: 200px;
  border-radius: 0.5rem;
}

.bottom {
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  background-color: rgba(127, 255, 212, 0.28);
}
